*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;
    
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
header{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width:auto;
    
}
ul{
    display: flex;
    flex-direction: row;
    
}
li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: 10px;
    
}
a{
    color: white;
    text-decoration: none;
}
nav{
    padding-top: 10px;
    height: 100px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
h1{
    text-align: center;
    color: white;
}
h2{
    font-weight: bold;
}
.orange-box > p{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    color: white;
}
.button-orange-box{
    margin: auto;
    display: inline-block; 
}
.red-box{
    background-color: red;
    height: 100px;
    width: 200px;  
}
.orange-box{
    
    height: 400px;
    margin: 0 auto;
    width: 50%; 
    text-align: center;  
}
.lightgreen-box1{
    background-image: url(../img/item1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: 500px;
}
.lightgreen-box2{
    background-image: url(../img/item2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: 500px;
}
.lightgreen-box3{
    background-image: url(../img/item3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: 500px;
}
.green-box{
    
    height:300px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

h2{
    width: 50%;
    padding-top: 20px;
}
.green-box > p{
    width: 50%;
    padding-top: 20px;
}
.section-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
        width: 80%;
        margin: auto;
        padding-top: 50px;
    
    
}
.section-2{
    background-color: lightgrey;
   display: flex;
   flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}
.section-main{
    background-color: lightgray;
    
}
    
    
    

.section-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}
.section-4{
    padding-top: 50px;
    background-color: lightgray;
    margin: 0 auto;
    
}
.rect-green{
    background-color: green;
    
    text-align: center;
    width: 80%;
    margin: auto;
    height: 300px;
    padding-top: 50px;
}
h3{
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

.rect-lightgreen{
    background-color: lightgreen;
    width: 80%;
    margin: auto;
    height: 300px;
}
.rect-darkgreen{
    background-color: darkgreen;
    width: 80%;
    margin: auto;
    height: 300px;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    }
.rect-lightcoral{
    width: 25%;
    height: 800px;
    background-color: lightcoral;
}
.rect-red{
    width: 25%;
    height: 800px;
    background-color: red; 
}
.rect-darkred{
    width: 25%;
    height: 800px;
    background-color: darkred; 
}
.rect-blue{
    width: 200px;
    height: 100px;
    background-color: blue; 
}
.end-container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightblue;
}
